@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #1c1c1c;
    --primary-accent-color: #2a2a2a;
    --primary-accent-2-color: #2f2f2f;
    --separataor-color: #444;
    --secondary-color: #d12d7b;
    --secondary-color-light: #ea539a;
    --secondary-color-dark: #98128b;
    --current-text-color: #fff;
    --accent-text-color: #bbb;
  }

  .theme-dark {
    --primary-color: #1c1c1c;
    --separataor-color: #444;
    --current-text-color: #fff;
    --accent-text-color: #bbb;
  }

  .theme-light {
    --primary-color: #ffffff;
    --separataor-color: #aaa;
    --current-text-color: #000;
    --accent-text-color: #444;
  }

  .theme-color-magenta {
    --secondary-color: #d12d7b;
    --secondary-color-light: #ea539a;
    --secondary-color-dark: #98128b;
  }

  .theme-color-blue {
    --secondary-color: #0e6fa3;
    --secondary-color-light: #7f8ae3;
    --secondary-color-dark: #2733d2;
  }
}

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-br from-secondary-light to-secondary-dark;
  }
  .nav-selected {
    @apply bg-gradient bg-clip-text;
  }
  .button-login {
    @apply text-center px-5 py-2 rounded flex-1;
  }
  .input {
    @apply bg-primary-accent outline-none border-2 border-separator px-5 py-2 rounded w-full;
  }
  .bg-text-login {
    @apply absolute select-none font-semibold text-[30rem] text-transparent bg-clip-text bg-gradient;
  }
}

* {
  box-sizing: border-box;
  overflow: hidden;
}
