#search-icon-outline{
  box-shadow: 0 0 0 15px var(--primary-color),
              0 0 0 17px var(--separataor-color);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -10;
}

#search-icon-outline:before {
  z-index: -5;
  content: '';
  position: absolute;
  top: -20px;
  left: 29px;
  width: 50px;
  height: 100px;
  background-color: var(--primary-color);
  /* background-color: red; */
}